@import "~bootstrap/scss/bootstrap.scss";
@import url("http://cdn.syncfusion.com/ej2/bootstrap5.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
  margin-bottom: 10px ;
}

.profile {
  margin-left: 200px;
  margin-right: 200px;
}

.user-info {
  margin-top: 1px;
}

.add-user {
  margin-left: 150px;
  margin-right: 150px;
  button {
    width: 832px;
  }
}

.login-page {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 75px;
  button {
    width: 200px;
  }
}

.task-page {
  margin-left: 300px;
  margin-right: 300px;
  button {
    width: 200px;
  }
}

.tasks {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 30px;
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);

  &.collapse-horizontal {
    width: 0;
    height: auto;
    @include transition($transition-collapse-width);
  }
}